.calculator {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 10px;
    width: 200px;
    max-width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border: solid rgb(67, 66, 65);
    background-color: rgb(77, 74, 70);
    border-radius: 3%;
}

.screen {
    width: 200px;
    height: 48px;
    flex-shrink: 0;
    padding: 6px;
    border: solid rgb(67, 66, 65);
    background-color: rgb(193, 187, 161);
    text-align: right;
    align-content: center;
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 36px;
}

.pad {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.row {
    display: flex;
    flex-direction: space-around;
    gap: 2px;
}

button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    flex:1;
    flex-shrink: 0;
}

.digit {
   background-color: chocolate;
   color: whitesmoke;
   border: solid rgb(182, 94, 32);
}

.operator {
    background-color: rgb(30, 100, 72);
    color: whitesmoke;
    border: solid rgb(25, 81, 59);
}